<div class="border-box-contaier">
  <dv-border-box-1>dv-border-box-1</dv-border-box-1>
</div>
<div class="border-box-contaier">
  <dv-border-box-2>dv-border-box-2</dv-border-box-2>
</div>
<div class="border-box-contaier">
  <dv-border-box-3>dv-border-box-3</dv-border-box-3>
</div>
<div class="border-box-contaier">
  <dv-border-box-4>dv-border-box-4</dv-border-box-4>
</div>
<div class="border-box-contaier">
  <dv-border-box-4 dvReverse>dv-border-box-4 reverse</dv-border-box-4>
</div>
<div class="border-box-contaier">
  <dv-border-box-5>dv-border-box-5</dv-border-box-5>
</div>
<div class="border-box-contaier">
  <dv-border-box-5 dvReverse>dv-border-box-5 reverse</dv-border-box-5>
</div>
<div class="border-box-contaier">
  <dv-border-box-6>dv-border-box-6</dv-border-box-6>
</div>

<div class="border-box-contaier">
  <dv-border-box-7>dv-border-box-7</dv-border-box-7>
</div>

<div class="border-box-contaier">
  <dv-border-box-8>dv-border-box-8</dv-border-box-8>
</div>
<div class="border-box-contaier">
  <dv-border-box-8 dvReverse>dv-border-box-8 reverse</dv-border-box-8>
</div>