<svg class="dv-svg-container" [style.width.px]="width" [style.height.px]="height">
  <polyline class="dv-bb7-line-width-2" [attr.stroke]="mergedColor[0]" points="0, 25 0, 0 25, 0" />
  <polyline class="dv-bb7-line-width-2" [attr.stroke]="mergedColor[0]" [attr.points]="point1" />
  <polyline class="dv-bb7-line-width-2" [attr.stroke]="mergedColor[0]" [attr.points]="point2" />
  <polyline class="dv-bb7-line-width-2" [attr.stroke]="mergedColor[0]" [attr.points]="point3" />

  <polyline class="dv-bb7-line-width-5" [attr.stroke]="mergedColor[1]" points="0, 10 0, 0 10, 0" />
  <polyline class="dv-bb7-line-width-5" [attr.stroke]="mergedColor[1]" [attr.points]="point4" />
  <polyline class="dv-bb7-line-width-5" [attr.stroke]="mergedColor[1]" [attr.points]="point5" />
  <polyline class="dv-bb7-line-width-5" [attr.stroke]="mergedColor[1]" [attr.points]="point6"
    />
</svg>

<div class="border-box-content">
  <ng-content></ng-content>
</div>